body {
  display: flex; // Flex property here is used to make sticky footer
  flex-direction: column;
  min-height: 100%;
  font-family: $main-font;
  color: $text-color;
  @include font_size-lh-fw(16px, 18px);
  @media (max-width: $laptop-width) {
    @include font_size-lh-fw(14px, 16px);
  }
}