.cta {
  background-color: $accent-color-bright;
  color: $text-on-accent-color;
  &__items {
    padding: 40px 0 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @media (max-width: $tablet-width) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &__item {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &-icon {
      @include width_height(64px, 64px);
      margin-bottom: 20px;
      @media (max-width: $phone-width) {
        @include width_height(40px, 40px);
      }
    }
    &-value {
      @include font_size-lh-fw(21px, 21px, 600);
      margin-bottom: 10px;
      @media (max-width: $phone-width) {
        @include font_size-lh-fw(16px, 16px, 600);
      }
    }
    &-description {
      font-weight: 300;
      @media (max-width: $phone-width) {
        font-size: 12px;
      }
      & a:hover {
        text-decoration: underline;
      }
    }
  }
}