.enroll {
  background-color: $section-bg;
  &__inner {
    display: flex;
    column-gap: 30px;
    justify-content: flex-start;
    align-items: flex-end;
    flex: 1;
    padding-top: 50px;
    @media (max-width: $tablet-width) {
      flex-direction: column;
    }
  }

  /* Left block (with text) styles start here */

  &__left {
    text-align: center;
    margin-bottom: 90px;
    @media (max-width: $tablet-width) {
      margin-bottom: 40px;
    }
  }
  &__title {
    margin-bottom: 40px;
    color: $heading-color;
    @include font_size-lh-fw(33px, 43px, 600);
    @media (max-width: $laptop-width) {
      @include font_size-lh-fw(28px, 38px, 600);
    }
    @media (max-width: $tablet-width) {
      @include font_size-lh-fw(24px, 34px, 600);
      margin-bottom: 20px;
    }
  }
  &__description {
    padding: 0 5px;
    @include font_size-lh-fw(18px, 36px, 300);
    @media (max-width: $laptop-width) {
      @include font_size-lh-fw(16px, 30px, 300);
    }
    @media (max-width: $tablet-width) {
      font-size: 14px;
    }
    @media (max-width: $phone-width) {
      line-height: 25px;

    }
  }

  /* Right block styles (with form) start here */

  &__right {
    min-width: 50%;
    @media (max-width: $tablet-width) {
      width: 100%;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    &-title {
      color: $heading-color;
      margin-bottom: 20px;
      @include font_size-lh-fw(21px, 21px, 600);
    }
    &-label {
      display: inline;
      position: relative;
      a {
        color: $accent-color-dark;
        &:hover {
          color: $accent-color-bright;
        }
      }
      &.required {
        &::after {
          content: "";
          position: absolute;
          width: 7px;
          height: 7px;
          top: 40%;
          right: -10px;
          background-image: url("../images/icons/required.png");
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
      &[for='confidentional-policy'] {
        font-weight: 300;
      }
    }
    &-input {
      opacity: 1;
      font-family: $main-font;
      margin: 5px 0 10px;
      padding-left: 12px;
      border: 1px solid $input-border-color;
      border-radius: 3px;
      @include font_size-lh-fw(12px, 14px);
      color: $input-text-color;

      &[type="text"], &[type="tel"], &[type="email"] { // selector for input fields with 1-line text input
        height: 50px;
        width: 100%;
        &:focus {
          border-color: $input-border-on-focus-color;
          box-shadow: 0 0 2px 2px rgba($input-border-on-focus-color, 0.5);
        }
      }
      &::placeholder {
        font-family: $main-font;
      }
      &[type="checkbox"] {
        margin-bottom: auto;
      }
      &-field {
        &.confidentional-policy-field {
          display: flex;
          align-items: center;
          column-gap: 10px;
          margin-bottom: 15px;
          & input {
            margin: 0;
          }
          & label {
            &::after {
              @media (max-width: 357px) { // Label becomes in 2 lines at this breakpoint, so fixing position of ::after
                left: 117px;
                top: 22px;
              }
            }
          }
        }
      }
      /* Rewrite default styles for webkit-autofilled forms */

      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus, {
        font-family: $main-font;
        border: 1px solid $input-border-color;
        -webkit-text-fill-color: $input-text-color;
        -webkit-box-shadow: none;
        transition: background-color 5000s ease-in-out 0s;
      }
    }
    &-submit-btn {
      font-family: $main-font;
      width: 62%;
      align-self: center;
      padding: 10px 0;
      text-transform: uppercase;
      color: $text-on-accent-color;
      background-color: $accent-color-dark;
      border-radius: 25px;
      margin-bottom: 30px;
      font-size: 14px;
      @media (max-width: $phone-width) {
        font-size: 12px;
      }
      &:hover {
        background-color: $accent-color-bright;
        cursor: pointer;
      }
    }
  }
}


