@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  src: url("../fonts/static/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  src: url("../fonts/static/OpenSans-Bold.ttf");
}

$main-font: "Open Sans";