.placeholder {
  @include width_height(100%, 100px);
  @media (max-width: $tablet-width) {
    height: 70px;
  }
}

.header {
  position: fixed;  // Header is always visible on top of page
  top: 0;
  z-index: 1010; // Header needs to be above sliders with fade effect, which have a default value of 1000
  width: 100%;
  &__inner {
    background-color: $header-bg;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $laptop-width) {
      flex-direction: column;
    }
  }
  &__content {
    padding: 10px 0;
    display: flex;
    align-items: center;
    @media (max-width: $laptop-width) {
      width: 100%;
      justify-content: space-between;
    }
    @media (max-width: $tablet-width) {
      padding: 5px 0;
    }
  }
  &__logo, &__logo img {
    @include width_height(80px, 80px);
    @media (max-width: $tablet-width) {
      @include width_height(60px, 60px);
    }
  }
  &::after {  // It's a shadow at the bottom of header section
    content: "";
    position: absolute;
    bottom: -15px;
    @include width_height(100%, 15px);
    background-image: linear-gradient(to top, transparent, #cacaca);
  }
}

/* Navigation styles start here */

.menu {
  &__btn {
    display: none;
    @media (max-width: $laptop-width) {
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      @include width_height(42px, 32px);
      outline: none;
      border: none;
      border-radius: 5px;
      background-color: $accent-color-dark;
      background-image: url("../images/icons/menu-icon.svg");
      background-size: cover;
      position: relative;
    }
  }
  &__list {
    display: flex;
    @media (max-width: $laptop-width) {
      display: none;
      &.menu__list_enabled {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-bottom: 15px;
        align-items: center;
      }
    }
  }
  &__item {
    padding: 15px 0;
    @media (max-width: $laptop-width) {
      padding: 15px 15px;
      @include font_size-lh-fw(14px, 14px);
    }
    &-link {
      padding: 15px 20px;
      @include font_size-lh-fw(16px, 16px);;
    }
    &:hover {
      background-color: $menu-link-hover-bg;
      color: $accent-color-dark;
    }
    &.apply-link {
      background-color: $accent-color-dark;
      color: $text-on-accent-color;
      border-radius: 25px;
      &:hover {
        background-color: $accent-color-bright;
      }
    }
  }
}
