.mentors {
  background-color: $slider-bg;
  &__title {
    @include section-title();
    margin-bottom: 20px;
  }
  &__content {
    position: relative;
    margin-bottom: 75px;
    & hr {
      border: 0;
      border-top: 1px solid #f7f7f7;
      @media (max-width: $tablet-width) {
        margin-top: 0;
      }
    }
    &-item {
      display: flex!important;  // Slick slider module gives an inline style of 'display: inline-block' for
                                // every slider item, thus ruining the structure of slide. !important is used
                                // to keep slider item structure.
      padding: 0 5px;
      @include font_size-lh-fw(16px, 24px, 300);
      @media (max-width: $laptop-width) {
        @include font_size-lh-fw(14px, 22px, 300);
      }
      @media (max-width: $tablet-width) {
        flex-direction: column;
        text-align: center;
      }
      @media (max-width: $phone-width) {
        line-height: 18px;
        flex-direction: column;
        text-align: center;

      }
    }
  }
  &__portrait {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-width: 40%;
    & img {
      @include width_height(337px, 356px);
      @media (max-width: $laptop-width) {
        @include width_height(236px, 250px);
      }
    }
  }
  &__name {
    color: $accent-color-bright;
    font-weight: 700;
    padding-bottom: 15px;
  }
  &__text {
    padding-top: 20px;
  }
  &__description {
    padding-top: 15px;
    &-paragraph {
      padding-bottom: 15px;
    }
  }

  /* Slider styles for mentors section start here */

  .slick {
    &-dots {
      width: 100%;
      position: absolute;
      bottom: -25px;
    }
  }
}